<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs", {title: "About me"}) %> 

<body>
    
    <%-include("./partials/header.ejs") %> 

    <main class="container">
        <section class="caja" >
           
            
            <div>
            <img class="producto imagen1" src="https://www.psicologo-palma-de-mallorca.es/coste-psicologico-nunca-decir-no.jpg" alt=""   >
            </div>
            <div>
            <p class="bold"> $ 146.675</p>
            <p class="verde"> 40% Off </p>
            <p class="gris">Cafetera Oster BVSTDCS12</p>
            </div>
           
        </section>
    </main>

        
    <%-include("./partials/footer.ejs") %> 

</body>
</html>
