<footer class="footer1">
    <div class="footerdisplay">
        <div class="ajustesection">
            <img src="/img/tarjeta azul.PNG" alt=""  class="icono">
            <h2> Pagá con tarjeta o efectivo</h2>
            <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o 
                efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </div>
    
        <div class="ajustesection" >
            <img src="/img/ENVIO.PNG" alt=""  class="icono">
            <h2> Envío gratis desde $ 2.500 </h2>
            <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
    
        <div class="ajustesection" >
            <img src="/img/seguridad.PNG" alt=""  class="icono">
            <h2> Seguridad, de principio a fin </h2>
            <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                porque estás siempre protegid@.
            </p>
        </div>
        
    </div>
    
        <div class ="copyrigth">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </div>
    
    </footer>