<header class="main-header">

    <div class="main-header-top-bar">
        <img src="/img/logoMercado.png" class="logo" alt="">

        <input class="buscar" placeholder="buscar..." type="search" > 

        <img src="/img/lupa.png"  class="lupa"  alt="">
        
        <h2 class="titulo"> 
            PAPELERIA - KWA 
        </h2>
    </div>



    <nav class="main-navbar"> 

        <ul class="li-navbar">
            <li > <a href="#"> Home </a> </li>
            <li > <a href="#"> Producto </a> </li>
            <li > <a href="#"> Registro </a> </li>
            <li > <a href="#"> Login  </a> </li>
        </ul>

    </nav>

   </header>